/*--/responsive--*/

.logo-topo{
  margin-top:-20px;
}

@media (max-width: 480px){
.navbar-toggle {
  margin-right: -11em!important;
}
}

@media (max-width: 640px){
.navbar-toggle {
    margin-top: 13px;
    margin-right: -16em;
    margin-bottom: 0px;
}
}

.btn-continua {
    border: none;
    outline: none;
    color: #FFF;
    padding: .5em 1.5em;
    font-size: 16px;
    margin: 0.5em 0 0 0;
    -webkit-appearance: none;
    background: #2A7943;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.btn-continua:hover {
    border: none;
    outline: none;
    color: #FFF!important;
    padding: .5em 1.5em;
    font-size: 16px;
    margin: 0.5em 0 0 0;
    -webkit-appearance: none;
    background: #1eb94f!important;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}


.footer-right a:hover{
    border: none;
    outline: none;
    color: #fff;
    padding: .5em 1.5em;
    font-size: 16px;
    margin: 0.5em 0 0 0;
    -webkit-appearance: none;
    background: #132751;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.contact-info-grids form input[type="submit"] {
    border: none;
    outline: none;
    color: #FFF;
    padding: .5em 1.5em;
    font-size: 1em;
    margin: 0.5em 0 0 0;
    -webkit-appearance: none;
    background: #2A7943;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.contact-info-grids input[type="submit"]:hover {
    border: none;
    outline: none;
    color: #fff!important;
    padding: .5em 1.5em;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em 0 0 0;
    -webkit-appearance: none;
    background: #1eb94f!important;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.ft-left-titulo h3{
    color: #FFFFFF!important;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase!important;
}

.quem-somos p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.8em;
    /*padding-left: 3em;*/
    margin: 2em 0 0 0;
    /*background: url(../images/location.png) no-repeat 0px 5px;*/
}

.about a{
    color:#666161;
}.about a:hover{
    color:#666161;
    font-weight: bold;
}